<a href={% auth_login_url %}>login</a> 
<a href={% auth_logout_url %}>logouot</a> 

<h1>{{ poll.question }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/polls/{{ poll.key }}/vote/" method="post">
{% csrf_token %}
{% for choice in poll.choice_set %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.key }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>
