{% csrf_token %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>{% block title %}ශ්‍රී වෙබ් අඩවිය{% endblock %}</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
	<link rel="stylesheet" type="text/css" href="/static/styles.css" />
	<link rel="stylesheet" href="/static/js/themes/base/jquery.ui.all.css" />
	<script src="/static/js/jquery-1.7.2.js"></script>
	<script src="/static/js/ui/jquery.ui.core.js"></script>
	<script src="/static/js/ui/jquery.ui.widget.js"></script>
	<script src="/static/js/ui/jquery.ui.datepicker.js"></script>
	<script src="/static/js/ui/i18n/jquery.ui.datepicker-si.js"></script>
	<script src="/static/js/srishell.js"></script>
	<link href="/static/js/srishell.css" rel="stylesheet" />
	<script>
	 $(document).ready(function() {
		$( ".datepicker" ).datepicker({
			changeMonth: true,
			changeYear: true,
			yearRange: "-100:+10"
		});
		$(".select_country").change(function(){
			$.getJSON("{% url ajax_cities %}",
				{country : $(this).val()},
        		function(data){
        			$(".select_city").empty();
					$.each(data, function(key, value) {
					  $(".select_city").append($("<option></option>")
					     .attr("value", key).text(value));
					});
        		}
        	);
		});
	});
	</script>
</head>
<body>
<div id="container">
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
	<div id="header">
		<div id="header_head">
			<h1><a href="http://sandeva.appspot.com/"><i>ශ්‍රී වෙබ් අඩවිය</i></a></h1>
		</div>
		<div id="extra">
			<p>
				<a href={% auth_login_url %}>login</a> 
				<a href={% auth_logout_url %}>logouot</a> 
			</p>
		</div>
	</div>
  <div id="wrapper">
	<div id="navigation">
	  <p><strong>පටුන</strong></p>
	  <ul>
	    <li><a href="/srishell/">ශ්‍රී ෂෙල් </a></li>
	    <li><a href="/astro/birth/">ජ්‍යොතිශාස්ත්‍රය</a></li>
    	<li><a href="/astro/docs/names/">නාම අක්ෂර</a></li>
	  </ul>
	</div>
	<div id="content">
      <p><strong>{% block heading %}ශ්‍රී ෂෙල් සිංහල මෘදුකාංගය {% endblock %}</strong></p>
      {% block content %}
      <p>ශ්‍රී ෂෙල් Online</p>
      <p>
		<div id="id_main_div" contenteditable="true" class="SriShell_div" style="height: 200px;width:90%;border:1px solid black;margin-left: 40px;">
		methana taip karanna.<br>
		</div>
		<script>
		$(document).ready(function() {
		 	$("#id_main_div").delay(10000,function(){$("#id_main_div").trigger("keyup");});
		});
		</script>
		<div id='id_menu2' style="display: none"></div>
	  </p>
      <p>How to Install SriShell</p>
      <ol>
      	<li>
      	<a target="_blank" href="/static/DotNetFW35SP1.htm">Install .net framework (SriShell requires .net framework)</a><br />
      	පළමුව ".net framework" ස්ථාපනය (install) කරගන්න. <br /> 
      	(ශ්‍රී ෂෙල් ක්‍රියාත්මක කරවීමට  ".net framework" අවශ්‍යයි.)
      	</li>
      	<li><a href="/srishell/download/">Download SriShell</a></li>
      	<li><a target="_blank" href="/static/InstallSriShell.htm">Install and run SriShell</a></li>
      </ol>
      {% endblock %}
		<div class="fb-like" data-href="http://sandeva.appspot.com/" data-send="true" data-width="450" data-show-faces="true"></div>
    </div>
  </div>
  <div id="footer">
    <p><i>ශ්‍රී  මෘදුකාංග</i></p>
  </div>
</div>
</body>
</html>
